@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.login-buttons-container {
  margin-top: 26px;
  text-align: right;
}

.delete-message {
  float: right;
}

.messages-container {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 18px;
  border: 1px solid #eee;
  padding: 18px 18px 0;
}
